body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 865px;
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  padding: 20px;
}
.banner .about-sign-in {
  height: 79px;
  text-align: right;
  margin-top: 35px;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  text-decoration: none;
  padding: 10px 17px;
  font-size: 12px;
  text-align: center;
}
.banner .about-sign-in .sign-in {
  margin-right: 240px;
  margin-left: 40px;
  border: 1px solid green;
  border-radius: 100px;
  color: green;
  letter-spacing: 1px;
  line-height: 16px;
}
.banner .about-sign-in .about {
  color: black;
}
.banner .logo {
  background: url("../img/hapoERP.png") no-repeat center;
  margin-top: 145px;
  height: 77px;
}
.banner .content-center {
  height: 50px;
  margin-bottom: 100px;
  margin-top: 30px;
}
.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .content-center span {
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}
.banner .content-center img {
  width: 52px;
  height: 48px;
  margin-bottom: 14px;
}
.banner .text {
  margin-top: 30px;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 100px;
  height: 40px;
  width: 144px;
  color: #ffffff;
  background-color: green;
  letter-spacing: 1px;
  line-height: 16px;
  border: 1px solid green;
  margin-top: 20px;
  cursor: pointer;
}
.banner .text,
.banner .btn-start-now {
  text-align: center;
}
